name: roommate_expense_tracker
description: "Roommate Expense Tracker."
publish_to: "none"
version: 1.0.0+1

{{ header }}

environment:
  sdk: '>=3.6.0 <5.0.0'

dependencies:
  api_client:
    path: packages/api_client
  app_core:
    path: packages/app_core
  app_ui:
    path: packages/app_ui
  credentials_repository:
    path: packages/credentials_repository
  flutter:
    sdk: flutter
  {% for repo in repositories %}
  {{ repo }}_repository:
    path: packages/{{ repo }}_repository
  {% endfor %}
  mockito: ^5.4.6

dev_dependencies:
  build_runner: ^2.5.4
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  test: ^1.25.2

flutter:
  uses-material-design: true
  assets:
  - assets/data/